<h3 class="page-title">Top Questions</h3>

<% if logged_in? %>
  <nav class="new-question">
    <a href="/users/<%= current_user.id %>/questions/new">Ask a question</a>
  </nav>
<% end %>


<!-- for vote commit logic, find nearest article class to distinguish vote type, then find nearest a child to determine id -->


<div class="question-list stable-parent">
  <% @questions.each do |question| %>
    <article class="question">
      <p>
        <form class="vote-container" action="/questions/<%= question.id %>/votes" type="POST">
          <%= erb :'/questions/_vote_buttons' %>
        </form>
        <a href="/questions/<%= question.id %>"><%= question.title %></a>
        <br><%= erb :'/partials/_post_footer', locals: {post: question} %>
      </p>
    </article>
  <% end %>
</div>
