<article class="question-info stable-parent">
  <h1 class="question-title"><%= @question.title %></h1>
  <div id="question-description">
    <%= @question.description %>
  </div>
  <% if logged_in? %>
    <form class="vote-container" action="/questions/<%= @question.id %>/votes" type="POST">
      <%= erb :'/questions/_vote_buttons' %>
    </form>
  <% end %>
  <%= erb :'/partials/_post_footer', locals: {post: @question} %>

  <%= erb :'/answers/_new_form' %>

  <div class="post-comment">
    <button class="new-post-button" value="/questions/<%= @question.id %>/comments/new">Post Comment</button>
  </div>

  <div class="comment-list">
    <% @question.comments.each do |comment| %>
      <%= erb :"comments/_show", layout: false, locals: { comment: comment } %>
    <% end %>
  </div>
</article>

<h2>Answers</h2>

<div id="question-answers-list" class="stable-parent">
  <% @question.answers.each do |answer| %>
    <%= erb :"answers/_full_answer", layout: false, locals: { answer: answer } %>
  <% end %>
</div>
