<h1><%= @question.title %></h1>
<article class="question-info">
  <div id="question-description">
    <%= @question.description %>
  </div>
  <div id="question-author">
    <%= @question.author.username %>
  </div>
  <%= erb :'/questions/_vote_buttons' %>
  <%= erb :'/answers/_new_form' %>

</article>
