<article class="question-info stable-parent">
  <h1 class="question-title"><%= @question.title %></h1>
  <div id="question-description">
    <%= @question.description %>
  </div>
  <% if logged_in? %>
    <form class="vote-container" action="/questions/<%= @question.id %>/votes" type="POST">
      <%= erb :'/questions/_vote_buttons' %>
    </form>
  <% end %>
  <%= erb :'/partials/_post_footer', locals: {post: @question} %>
  <%= erb :'/answers/_new_form' %>

  <div class="post-comment">
    <button class="new-post-button" value="/questions/<%= @question.id %>/comments/new">Post Comment</button>
  </div>

  <h4>Comments</h4>

  <div class="comment-list">
    <% @question.comments.each do |comment| %>
      <%= erb :"comments/_show", layout: false, locals: { comment: comment } %>
    <% end %>

    <h2>Answers</h2>

</article>


<div id="question-answers-list" class="stable-parent">
  <% @question.answers.each do |answer| %>
    <% if answer == @question.best_answer %>
      <div class="best-answer"><%= erb :'answers/_show_answer', locals: { answer: answer } %></div>
    <% else %>
      <div class="reg-answer"><%= erb :'answers/_show_answer', locals: { answer: answer } %></div>
    <% end %>

    <div class="post-comment">
      <button class="new-post-button" value="/answers/<%= answer.id %>/comments/new">Post Comment</button>
    </div>

    <h4>Comments</h4>

    <div class="comment-list">
      <% answer.comments.each do |comment| %>
        <%= erb :"comments/_show", layout: false, locals: { comment: comment } %>
      <% end %>
    </div>
  <% end %>
</div>
