<article class="question-info stable-parent">
  <h1 class="question-title"><%= @question.title %></h1>
  <div id="question-description">
    <%= @question.description %>
  </div>
  <% if logged_in? %>
    <form class="vote-container" action="/questions/<%= @question.id %>/votes" type="POST">
      <%= erb :'/questions/_vote_buttons' %>
    </form>
  <% end %>
  <%= erb :'/partials/_post_footer', locals: {post: @question} %>
</article>
