<div class="">

<% if logged_in? %>
<a id="<%= answer.id %>" class="best-answer-button button-link" href="/questions/<%= answer.id %>/best_answer">Best Answer</a>
<% end %>
<div class="answer-content">
  <div class="answers">
    <%= answer.content %>
  </div>
  <form class="vote-container" action="/questions/<%= @question.id %>/votes" type="POST">
    <%= erb :'/questions/_vote_buttons' %>
  </form>
  <%= erb :'/partials/_post_footer', locals: {post: answer} %>
</div>

</div>
