<div class="">

<% if @question.author == current_user %>
<a id="<%= answer.id %>" class="best-answer-button button-link" href="/questions/<%= answer.id %>/best_answer">Best Answer</a>
<% end %>
<div class="answer-content">
  <div class="answers">
    <%= answer.content %>
  </div>
  <% if logged_in? %>
    <form class="vote-container" action="/questions/<%= @question.id %>/votes" type="POST">
      <%= erb :'/questions/_vote_buttons' %>
    </form>
  <% end %>
  <%= erb :'/partials/_post_footer', locals: {post: answer} %>
</div>

</div>
